@use '../../assets/styles/variables' as vars;

.expertise {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.expertise__item {
  display: grid;
  grid-template-columns: 140px 1fr;
  column-gap: 24px;
}

.expertise__meta {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.expertise__date {
  font-size: 14px;
  font-weight: 400;
  color: vars.$color-text-muted;
  margin-top: 2px;
  word-break: break-word;
  overflow-wrap: break-word;
}

@media (max-height: 500px) and (orientation: landscape) {
  .expertise__item {
    grid-template-columns: 80px 1fr;
  }
}

.expertise__company {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.expertise__details {
  display: flex;
  flex-direction: column;
}

.expertise__job {
  font-size: 15px;
  font-weight: 600;
  margin: 0 0 6px;
}

.expertise__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  color: vars.$color-text-muted;
}
