@use '../../assets/styles/variables' as vars;

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  padding-left: 16px;
  border-left: 3px solid vars.$color-primary;
}

.date {
  font-size: 13px;
  font-weight: 600;
  color: vars.$color-primary;
}

.company {
  font-size: 18px;
  font-weight: 700;
}

.job {
  font-size: 14px;
  font-weight: 400;
  color: vars.$color-text-light;
  margin-bottom: 8px;
}

.description {
  font-size: 14px;
  line-height: 1.5;
}
