@use '../../assets/styles/variables' as vars;

.timeline {
  position: relative;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding-right: 8px;
}

.timeline__item {
  position: relative;
  display: grid;
  grid-template-columns: 70px 1fr;
  column-gap: 10px;
  padding-bottom: 24px;

  &:not(:last-child)::before {
    content: '';
    position: absolute;
    top: 49px;
    bottom: 0;
    left: 33px;
    width: 4px;
    background: vars.$color-primary;
    border-radius: 2px;
  }
}

.timeline__date {
  font-weight: 700;
  font-size: 15px;
  color: vars.$color-text;
  padding-top: 16px;
  text-align: center;
}

.timeline__card {
  position: relative;
  background: #eee;
  min-height: 138px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.timeline__corner {
  position: absolute;
  top: 20px;
  left: -7px;
}

.timeline__title {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  color: vars.$color-text;
  margin: 0;
}

.timeline__text {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: vars.$color-text;
  margin: 0;
}
