@use '../../assets/styles/variables' as vars;

.box {
  padding: 0;
}

.title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  color: vars.$color-primary;
}

.content {
  font-size: 16px;
  line-height: 1.5;
}
