$color-primary: #26c17e;
$color-dark: #222935;
$color-dark-secondary: #2c3447;
$color-text: #222935;
$color-text-light: #cfcfcf;
$color-bg: #ffffff;
$color-border: #e2e2e2;

$font-main: 'Open Sans', Arial, sans-serif;

$breakpoint-mobile: 599px;
